# NFS files marked for deletion
.nfs*

# Temporary files when editing
*.swp
*~

# IDE ignore
## IntelliJ/PyCharm
.idea
*.iml
## VS code
.vscode
## Eclipse?
/.project

# pytest ignores
.pytest_cache

# bytecode compiled python
__pycache__

# GNU tags
/GPATH
/GRTAGS
/GTAGS
/gtags.sh

# MacOS
*.DS_Store
scratch.sparsebundle

# Common Python virtual env dir
/venv

# python package. by distutils
*.egg*

# pip install
src/ert/shared/version.py
## pip install without -e
/build

# cache folder for hypothesis framework
.hypothesis

# config for pyright
pyrightconfig.json
