*.o
*.so
.svn/
*/.svn/
*.pyc
*~
*.user
*.user.*
.nfs*
*.swp
.pre-commit-config.yaml
.idea
.vscode
.pytest_cache
__pycache__
/build
/src/build
/test-data/Equinor
/GPATH
/GRTAGS
/GTAGS
/gtags.sh
/cmake.sh
scratch.sparsebundle
*.iml
*.DS_Store
/.project
*.egg*
/dist
src/ert/shared/version.py
/venv
.hypothesis
/_skbuild
.libs
/compile_commands.json
*_pb2.py
*_pb2.pyi
docker-venv
Dockerfile
