repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: no-commit-to-branch
    -   id: check-json
    -   id: check-yaml
        exclude: tests/everest/test_data/valid_config_file/invalid_yaml_config.yml # Invalid yml needed for testing
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        exclude: test-data/ert/eclipse/parse/ERROR.PRT # exact format is needed for testing

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
