click
cmake-format
decorator
flake8>=4.0.0
jsonpath_ng
jupytext
pylint
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-mock
pytest-qt
pytest-raises
pytest-snapshot
pytest-timeout
pytest>=6.2.0
requests
scikit-build
setuptools_scm
sphinx
sphinx_rtd_theme
sphinx-argparse
sphinx-autoapi
sphinxcontrib.datatemplates
ecl_data_io
