click
cmake-format
decorator
ecl_data_io
flake8
flake8-bugbear
flake8-simplify
furo
grpcio-tools
hypothesis<=6.83.0;python_version=='3.8' # ipython pinned to 8.12.2 for python 3.8 support
hypothesis;python_version>='3.9'
isort
jsonpath_ng
jupytext
oil_reservoir_synthesizer
pylint
pylint-protobuf
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-memray
pytest-mock
pytest-mpl
pytest-qt
pytest-raises
pytest-repeat
pytest-snapshot
pytest-timeout
pytest-xdist
pytest>6
requests
scikit-build
setuptools_scm
sortedcontainers
sphinx<7.2
sphinx-argparse
sphinx-autoapi
sphinx-copybutton
sphinxcontrib-plantuml
sphinxcontrib.datatemplates
testpath
xtgeo
