click
cmake-format
decorator
ecl_data_io
flake8
flake8-bugbear
furo
grpcio-tools
hypothesis
isort
jsonpath_ng
jupytext
oil_reservoir_synthesizer
pylint
pylint-protobuf
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-memray
pytest-mock
pytest-mpl
pytest-qt
pytest-raises
pytest-snapshot
pytest-timeout
pytest-xdist
pytest>6
requests
scikit-build
setuptools_scm
sortedcontainers
sphinx
sphinx-argparse
sphinx-autoapi
sphinx-copybutton
sphinxcontrib-plantuml
sphinxcontrib.datatemplates
testpath
xtgeo
