[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
aiohttp = "*"
ansicolors = "==1.1.8"
async-generator = "*"
beartype = "<0.11,>=0.9.1"
cloudevents = ">=1.6.0"
cloudpickle = "*"
tqdm = ">=4.62.0"
cryptography = "*"
cwrap = "*"
dask-jobqueue = "*"
decorator = "*"
deprecation = "*"
dnspython = ">=2"
ecl = ">=2.14.1"
ert-storage = ">=0.3.16"
fastapi = "*"
filelock = "*"
graphlib-backport = "*"
iterative-ensemble-smoother = ">=0.0.3"
jinja2 = "*"
matplotlib = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pluggy = "*"
prefect = "<2"
protobuf = "<4"
psutil = "*"
pydantic = ">=1.9"
pyqt5 = "*"
pyrsistent = "*"
python-dateutil = "*"
pyyaml = "*"
qtpy = "*"
requests = "*"
salib = "*"
scipy = "*"
sqlalchemy = "*"
uvicorn = ">=0.17.0"
websockets = ">=9.0.1"
httpx = "*"
tables = "*"
alembic = "*"

[dev-packages]
click = "*"
cmake-format = "*"
decorator = "*"
ecl-data-io = "*"
flake8 = ">=4.0.0"
grpcio-tools = "==1.41.0"
isort = "*"
jsonpath-ng = "*"
jupytext = "*"
hypothesis = "*"
oil-reservoir-synthesizer = "*"
pylint = "*"
pylint-protobuf = "*"
pytest-asyncio = "*"
pytest-benchmark = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-qt = "*"
pytest-raises = "*"
pytest-snapshot = "*"
pytest-timeout = "*"
pytest = ">6"
requests = "*"
scikit-build = "*"
setuptools-scm = "*"
sphinx = "*"
sphinx-argparse = "*"
sphinx-autoapi = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-plantuml = "*"
"sphinxcontrib.datatemplates" = "*"
testpath = "*"
mypy = "*"
mypy-protobuf = "*"
types-aiofiles = "*"
types-requests = "*"
types-pkg-resources = "*"
types-pyyaml = "*"
types-python-dateutil = "*"
types-six = "*"
types-decorator = "*"
types-docutils = "*"
types-protobuf = "*"
flake8-bugbear = "*"
flake8-simplify = "*"
flake8-debugger = "*"
flake8-pep3101 = "*"

[requires]
python_version = "3.10"
