# The python wrappers to libecl is required by libres, but there is
# not yet any pip package for that, it is therefor just mentioned here
# as a comment, and must be installed by building libecl from source.
# libecl

cwrap
numpy>=1.12.0
pandas
pyyaml
jinja2
requests
functools32;python_version=='2.7'
psutil
