# The python wrappers to libecl and libres are required by ert, but there is not
# yet any pip package for those, they are therefore just mentioned here with a comment,
# and must be installed by building from source.

# libecl
# libres
