COEFF_0_{{param_num}} UNIFORM 0 1
COEFF_1_{{param_num}} UNIFORM 0 2
COEFF_2_{{param_num}} UNIFORM 0 5
{%- for p in range(parameter_entries - 3) %}
COEFF_{{p+3}}_{{param_num}} UNIFORM 0 5
{%- endfor %}
