/** css/custom.css **/

/* This line is theme specific - it includes the base theme CSS */
@import 'theme.css';       /* for the Read the Docs theme */

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    height: 29px;
    line-height: 33px;
    margin: 4px 0 0 0;
}

/* override menu to be more compact */

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    padding: .3em 1.618em;
}

.wy-menu-vertical li.current a  {
    padding: .3em 1.618em;
}

.wy-menu-vertical a{
    padding: .3em 1.618em;
}

/* override page max-width */

.wy-nav-content {
    max-width: 1200px !important;
}

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

#list-of-keywords table p {
    font-size: 10pt;
}

/* override hr line over content title */

div[role=navigation] > hr {
    display: none;
}

