

RPTRST
   BASIC=3 FREQ=3 /

DATES
 30 MAY 2014 /
/

DATES
 28 AUG 2014 /
/


DATES
 26 NOV 2014 /
/

DATES
 24 FEB 2015 /
/

DATES
 25 MAY 2015 /
/

DATES
 23 AUG 2015 /
/

DATES
 21 NOV 2015 /
/

DATES
 19 FEB 2016 /
/

DATES
 19 MAY 2016 /
/


-- this END limits the life cycle period to 5 years instead of 10
END


DATES
 17 AUG 2016 /
/

DATES
 15 NOV 2016 /
/

DATES
 13 FEB 2017 /
/

DATES
 14 MAY 2017 /
/

DATES
 12 AUG 2017 /
/

DATES
 10 NOV 2017 /
/

DATES
 8 FEB 2018 /
/

DATES
 9 MAY 2018 /
/

DATES
 7 AUG 2018 /
/

DATES
 5 NOV 2018 /
/

DATES
 3 FEB 2019 /
/

DATES
 4 MAY 2019 /
/

DATES
 2 AUG 2019 /
/

DATES
 31 OCT 2019 /
/

DATES
 29 JAN 2020 /
/

DATES
 28 APR 2020 /
/

DATES
 27 JUL 2020 /
/

DATES
 25 OCT 2020 /
/

DATES
 23 JAN 2021 /
/

DATES
 23 APR 2021 /
/


END
