on:
  workflow_call:
    inputs:
      python-version:
        type: string
jobs:

  build-wheels:
    timeout-minutes: 45
    strategy:
      fail-fast: false

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v4
      id: setup_python
      with:
        python-version: ${{ inputs.python-version }}
        
    - name: Build macOS Wheel
      run: python -m pip wheel . --no-deps --no-build-isolation -w dist

    - name: Upload wheel as artifact
      uses: actions/upload-artifact@v3
      with:
        name: macos-latest Python ${{ inputs.python-version }} wheel
        path: dist/*
