on:
  workflow_call:
    inputs:
      python-version:
        type: string

jobs:
  build-wheels:
    timeout-minutes: 10
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        filter: tree:0

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python-version }}

    - name: Build wheels
      run: pip wheel -w dist --no-deps .

    - name: Upload wheel as artifact
      uses: actions/upload-artifact@v4
      with:
        name: ubuntu-latest Python ${{ inputs.python-version }} wheel
        path: dist/*
