name: CodSpeed

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

env:
  UV_FROZEN: true
  OMP_NUM_THREADS: 1
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/install_dependencies_qt
        with:
          os: ubuntu-latest
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: '3.12'
      - run: |
          uv sync --extra dev
          uv pip uninstall pytest-benchmark
          uv pip install pytest-codspeed
      - uses: CodSpeedHQ/action@v3
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: |
            uv run pytest tests/ert/performance_tests --codspeed --timeout=1200 -m "not memory_test"
