name: CodSpeed

on:
  push:
    branches:
      - "main"
  workflow_dispatch:
  workflow_call:

permissions:
   contents: read

env:
  UV_FROZEN: true
  OMP_NUM_THREADS: 1

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install_dependencies_qt
        with:
          os: ubuntu-latest
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: '3.12'
      - run: |
          uv sync --group dev
          uv pip uninstall pytest-benchmark
          uv pip install pytest-codspeed
      - uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: |
            uv run pytest tests/ert/performance_tests --codspeed --timeout=3000 -m "not memory_test"
