name: Python coverage

on:
 push:
   branches:
     - main
     - 'version-**'
   tags: "*"
 pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # We don't cancel on protected branches which codecov uses as a base
  cancel-in-progress: ${{ ! github.ref_protected }}

jobs:
  python-test-coverage:
    name: Python Coverage
    timeout-minutes: 40
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test-type: ['integration-tests', 'unit-tests', 'gui-tests']
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
        lfs: true

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install with dependencies
      run: |
        pip install ".[dev]"

    - name: Test GUI
      if: matrix.test-type == 'gui-tests'
      run: |
        pytest tests/ --cov=ert -m "requires_window_manager" --cov-report=xml:cov.xml -s -vv

    - name: Test Integration
      if: matrix.test-type == 'integration-tests'
      run: |
        pytest tests/ -n4 --cov=ert -m "integration_test" --cov-report=xml:cov.xml

    - name: Test units
      if: matrix.test-type == 'unit-tests'
      run: |
        pytest tests/ -n4 --cov=ert -m "not integration_test and not requires_window_manager" --cov-report=xml:cov.xml --dist loadgroup

    - name: Upload python coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: cov.xml
