name: everest-run-tests-build-docs

on:
  workflow_call:
    inputs:
      os:
        type: string
      python-version:
        type: string
      test-type:
        type: string

env:
  NO_PROJECT_RES: 1
  UV_FROZEN: true
  OMP_NUM_THREADS: 1

jobs:
  tests-everest:
    name: Run everest tests
    timeout-minutes: 30
    runs-on: ${{ inputs.os }}

    steps:
    - name: Check /etc/hosts
      run: |
        echo "/etc/hosts ::"
        cat /etc/hosts
        if grep -q '^-' /etc/hosts; then
          echo "Found corrupted /etc/hosts - attempting fix"
          sudo sed -i s'/^-[^ ] //' /etc/hosts
          echo "/etc/hosts ::"
          cat /etc/hosts
        fi
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        filter: tree:0

    - if: ${{ inputs.os == 'macos-latest' }}
      run: echo "ERT_TESTS_RUN_ON_MAC_CI=true" >> "$GITHUB_ENV"

    - uses: ./.github/actions/install_dependencies_qt
      with:
        os: ${{ inputs.os }}

    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
        python-version: ${{ inputs.python-version }}

    - name: Install Everest and dependencies
      run: |
        uv sync --extra dev

    - name: Run Tests Linux
      if: ${{ inputs.test-type == 'test' && runner.os != 'macOS'}}
      run: |
        ERT_PYTEST_ARGS='--cov=ert --cov=everest --cov=_ert --cov-report=xml:cov1.xml --junit-xml=junit.xml -o junit_family=legacy -v' uv run just everest-tests

    - name: Run Tests macOS
      if: ${{ inputs.test-type == 'test' && runner.os == 'macOS'}}
      run: |
        ERT_PYTEST_ARGS='-n 3 --cov=ert --cov=everest --cov=_ert --cov-report=xml:cov1.xml --junit-xml=junit.xml -o junit_family=legacy -v' uv run just everest-tests

    - name: Build Documentation
      if: inputs.test-type == 'doc'
      run: |
        uv pip install git+https://github.com/equinor/everest-models.git
        uv run sphinx-build -n -v -E -W ./docs/everest ./everest_docs

    - name: Run tests requiring everest-models
      if: inputs.test-type == 'everest-models-test'
      run: |
        uv pip install git+https://github.com/equinor/everest-models.git
        ERT_PYTEST_ARGS='--cov=ert --cov=everest --cov=_ert --cov-report=xml:cov1.xml --junit-xml=junit.xml -o junit_family=legacy -m everest_models_test' uv run just everest-tests

    - name: Run tests requiring everviz
      if: inputs.test-type == 'everviz-test'
      run: |
        uv pip install dash
        uv pip install everviz
        uv run pytest --benchmark-disable -s -v --log-cli-level=DEBUG tests/everest/entry_points/test_visualization_entry.py


    - name: Upload coverage to Codecov
      if: inputs.test-type != 'everest-docs-entry-test' && inputs.test-type != 'doc'
      id: codecov1
      uses: codecov/codecov-action@v5
      continue-on-error: true
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: cov1.xml,cov2.xml
        flags: ${{ inputs.test-type }}
    - name: codecov retry sleep
      if: steps.codecov1.outcome == 'failure' && inputs.test-type != 'everest-docs-entry-test' && inputs.test-type != 'doc'
      run: |
        sleep 30
    - name: Codecov retry
      uses: codecov/codecov-action@v5
      if: steps.codecov1.outcome == 'failure' && inputs.test-type != 'everest-docs-entry-test' && inputs.test-type != 'doc'
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: cov1.xml,cov2.xml
        flags: ${{ inputs.test-type }}
        fail_ci_if_error: ${{ github.ref == 'refs/heads/main' }}

    - name: Upload test results to Codecov
      if: ${{ !cancelled() && inputs.test-type != 'everest-docs-entry-test' && inputs.test-type != 'doc' }}
      uses: codecov/test-results-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Test for a clean repository
      if: ${{ inputs.test-type != 'everest-docs-entry-test' && inputs.test-type != 'doc' }}
      run: |
        # Remove things we have generated on purpose:
        ls -la
        rm -rf .coverage
        rm -f coverage.xml cov1.xml cov2.xml junit.xml
        rm -f ert.*.whl
        rm -f codecov.SHA*
        rm -f codecov
        rm -f .coverage.*
        git status --porcelain
        test -z "$(git status --porcelain)"
