name: Test Semeio

# This job checks whether current main of semeio
# is compatible with the changes. It is not required to pass
# before merging, but breakage should be followed by fix in semeio
# after merge.

on: [pull_request]

env:
  UV_SYSTEM_PYTHON: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test-semeio:
    name: Test Semeio
    timeout-minutes: 40
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12']
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v3

    - name: Install ert
      run: |
        uv pip install .

    - name: Get semeio
      run: |
        git clone https://github.com/equinor/semeio.git

    - name: Test semeio
      run: |
        pushd semeio
        uv pip install ".[test]"
        pytest
