on:
  workflow_call:
    inputs:
      os:
        type: string
      python-version:
        type: string

env:
  UV_FROZEN: true

jobs:
  test-ert-on-slurm:
    name: Run ert tests
    timeout-minutes: 20
    runs-on: ubuntu-24.04

    steps:
    - name: Check /etc/hosts
      run: |
        echo "/etc/hosts ::"
        cat /etc/hosts
        if grep -q '^-' /etc/hosts; then
          echo "Found corrupted /etc/hosts - attempting fix"
          sudo sed -i s'/^-[^ ] //' /etc/hosts
          echo "/etc/hosts ::"
          cat /etc/hosts
        fi
    - uses: actions/checkout@v5

    - uses: ./.github/actions/install_dependencies_qt
      with:
        os: ${{ inputs.os }}

    - uses: actions/setup-python@v6
      id: setup_python
      with:
        python-version: ${{ inputs.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        python-version: ${{ inputs.python-version }}

    - name: Install ert
      run: |
        uv sync --extra dev

    - name: Install and setup slurm
      run: |
        set -e

        sudo apt install libpmix-dev slurmd slurmctld -y

        sudo mkdir /var/spool/slurm
        sudo chown slurm /var/spool/slurm

        cat <<EOF > slurm.conf
        ClusterName=localcluster
        SlurmUser=slurm
        SlurmctldHost=localhost
        SchedulerType=sched/builtin  # Avoid default backfill scheduler which adds delays
        SelectType=select/cons_tres  # Select nodes based on consumable resources
        SelectTypeParameters=CR_Core  # Cores are the consumable resource
        StateSaveLocation=/var/spool/slurm
        PriorityType=priority/basic  # Tests depend on FIFO scheduling
        ProctrackType=proctrack/linuxproc  # Use /proc to track processes
        PartitionName=LocalQ Nodes=ALL Default=YES MaxTime=INFINITE State=UP
        PartitionName=AlternativeQ Nodes=ALL Default=YES MaxTime=INFINITE State=UP
        EOF

        # Self-configure the node:
        slurmd -C | grep NodeName >> slurm.conf

        cat slurm.conf

        sudo mv slurm.conf /etc/slurm/
        sudo systemctl start slurmd  # The compute node slurm daemon
        sudo systemctl start slurmctld  # The slurm controller daemon
        sleep 1
        systemctl status slurmd
        systemctl status slurmctld

        # Show partition and node information configured:
        sinfo
        scontrol show nodes

    - name: Verify slurm cluster works
      # Timeout is set low to catch a misconfigured cluster where srun will hang.
      timeout-minutes: 1
      run: |
        srun env | grep SLURM
        # Several SLURM_* env variables are defined only when run through slurm

    - name: Run integration tests towards Slurm
      run: |
        set -e
        export _ERT_TESTS_ALTERNATIVE_QUEUE=AlternativeQ
        uv run pytest tests/ert/unit_tests/scheduler/test_{generic,slurm}_driver.py -sv --slurm \
          -n 8 --durations=10 -k "not (LsfDriver or LocalDriver or OpenPBSDriver)"
        scontrol show job

        uv run pytest tests/ert/ui_tests/cli/test_missing_runpath.py --slurm

    - name: Test poly-example on slurm
      run: |
        set -e

        cp -a test-data/ert/poly_example poly_slurm
        pushd poly_slurm

        cat << EOF >> poly.ert
        NUM_REALIZATIONS 5
        QUEUE_SYSTEM SLURM
        EOF

        time uv run ert ensemble_experiment poly.ert
