name: update-lockfile

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 1"
permissions:
  contents: write # so it can comment
  pull-requests: write # so it can create pull requests
jobs:
  lock:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        python-version: ['3.13']
    steps:
      - uses: actions/checkout@v5
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.SCOUT_TEAM_APP_ID }}
          private-key: ${{ secrets.SCOUT_TEAM_APP_PRIVATE_KEY }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - run: |
          echo "\`\`\`" > uv_output.md
          uv lock --upgrade 2>&1 | tee -a uv_output.md
          echo "\`\`\`" >> uv_output.md

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update uv lockfile
          title: Update uv lockfile
          body-path: uv_output.md
          branch: update-uv-lockfile
          base: main
          labels: release-notes:dependency
          delete-branch: true
          add-paths: uv.lock
